@page
@model CAR_BOOKING.Pages.aboutModel
@{
}


<div class="jumbtroon">


    <div class="container">


        <div class="row">


            <div class="col">

                <h3>This Page Is About</h3>

            </div>

        </div>

    </div>

</div>