@page
@model CAR_BOOKING.Pages.Economy_CarsModel
@{
    ViewData["Title"] = "Economy Car";
   
}


<link href="~/css/style.css" rel="stylesheet" />

<div class="jumbtroon" id="Cars">


    <div class="container">



        <div class="row" style="margin-top:30px">


            <div class="col">

                <h2>Avilable  Economy Car For Rent</h2>


            </div>


        </div>



        <div class="row" style="margin-top:40px">

            <div  class="col-lg-4">

               

                <div class="row">

                    <img id="IM1" class="image" src="~/SSSSSS/car1.jpg" style="padding-top:10px" />
                </div>


                   <div class="row" style="margin-top:10px">

                  


                           <div class="col">


                        <h5>Volkswagen  Passat</h5>

                           </div>


                         


                        <div class="col"  >


                        <h4>200$/day</h4>

                        </div>

                   



                   </div>

                    <div class="row">



                        <p>
                             33 miles/gallon or better <br />

Passengers:5 | Bags:2
 
                        </p>



                    <div class="row">

                        <div class="col">

                            <a  href="#jum1" style="width:30% ; margin-left:30%" class="btn btn-secondary"   >Book</a>
                        </div>




                    </div>

                   </div>

           
        


            </div>

          <div  class="col-lg-4">

               

                <div class="row">

                    <img id="IM1" class="image" src="~/SSSSSS/car2.jpg" style="padding-top:10px" />
                </div>


                   <div class="row" style="margin-top:10px">

                  


                           <div class="col">


                        <h5>Chevrolet Spark</h5>

                           </div>



                        <div class="col" >


                        <h4>200$/day</h4>

                        </div>

                   



                   </div>

                    <div class="row">

                        <p>
                        35 miles/gallon or better
                        <br />
                        Passengers:4 | Bags:2
                        
                    </p>

                    <div class="row">

                        <div class="col">

                            <a href="#jum1" style="width:30% ; margin-left:30%" class="btn btn-secondary"  >Book</a>
                        </div>




                    </div>

                   </div>

           
        


            </div>

          

            <div class="col-lg-4">



                <div class="row">

                    <img id="IM1" class="image" src="~/SSSSSS/car3.jpg" style="padding-top:10px" />
                </div>


                <div class="row" style="margin-top:10px">




                    <div class="col">


                        <h5>Toyota Corolla</h5>

                    </div>



                    <div class="col" >


                        <h4>300$/day</h4>

                    </div>





                </div>

                <div class="row">

                    <p>
                         33 miles/gallon or better

                         <br />

Passengers:4 | Bags:2
                    </p>

                    <div class="row">

                        <div class="col">

                            <a href="#jum1" style="width:30% ; margin-left:30%" class="btn btn-secondary">Book</a>
                        </div>




                    </div>

                </div>





            </div>




        </div>

        <div class="row" style="margin-top:40px">

            <div class="col-lg-4">



                <div class="row">

                    <img id="IM1" class="image" src="~/SSSSSS/car7.jpg " style="padding-top:10px" />
                </div>


                <div class="row" style="margin-top:10px">




                    <div class="col">


                        <h5>VW Jetta or Similar</h5>

                    </div>



                    <div class="col" >


                        <h4>400$/day</h4>

                    </div>





                </div>

                <div class="row">

                    <p>
                        28 miles/gallon or better <br />

Passengers:5 | Bags:2
                    </p>

                    <div class="row">

                        <div class="col">

                              <a href="#jum1" style="width:30% ; margin-left:30%" class="btn btn-secondary"  >Book</a>
                        </div>




                    </div>

                </div>





            </div>

            <div class="col-lg-4">



                <div class="row">

                    <img id="IM1" class="image" src="~/SSSSSS/car5.jpg" style="padding-top:10px" />
                </div>


                <div class="row" style="margin-top:10px">




                    <div class="col">


                        <h4>Toyota Camry</h4>

                    </div>



                    <div class="col"  >


                        <h4>100$/day</h4>

                    </div>





                </div>

                <div class="row">

                    <p>
                        33 miles/gallon or better <br />

                        Passengers:5 | Bags:2
                    </p>

                    <div class="row">

                        <div class="col">

                            <a href="#jum1" style="width:30% ; margin-left:30%" class="btn btn-secondary">Book</a>
                        </div>




                    </div>

                </div>





            </div>



            <div class="col-lg-4">



                <div class="row">

                    <img id="IM1" class="image" src="~/SSSSSS/car6.jpg" style="padding-top:10px" />
                </div>


                <div class="row" style="margin-top:10px">




                    <div class="col">


                        <h4>Chrysler 300</h4>

                    </div>



                    <div class="col"  >


                        <h4>300$/day</h4>

                    </div>





                </div>

                <div class="row">

                    <p>
                         25 miles/gallon or better <br />

Passengers:4 | Bags:2
                    </p>

                    <div class="row">

                        <div class="col">

                              <a href="#jum1" style="width:30% ; margin-left:30%" class="btn btn-secondary"  >Book</a>
                        </div>




                    </div>

                </div>





            </div>




        </div>



 

 

 
    </div>




</div>



<div class="jumbotron" id="jum1">



    <div class="container">

        <div class="row">


            <div class="col-lg-6" style="margin-top:15%">


                <div class="row">


                    <div class="col">


                        <h2>
                            Car Information
                        </h2>

                    </div>



                </div>



                <div class="row" style=" margin-top:13px">



                    <div class="col">

                        <h4>Car Name</h4>

                    </div>




                    <div class="col">




                        <select style="width:100%" class="input-group-text" id="cars" onchange="getComboA(this)">
                            <option id="cr1" value="volvo">Volkswagen Passat</option>
                            <option id="cr2" value="saab">Chevrolet Spark</option>
                            <option id="cr3" value="opel">Toyota Corolla</option>
                            <option id="cr4" value="audi">VW Jetta or Similar</option>
                            <option id="cr5" value="camri">Toyota Camry</option>
                            <option id="cr6" value="lambo">Chrysler 300</option>
                        </select>

                    </div>






                </div>






                <div class="row" style=" margin-top:13px">




                    <div class="col">


                        <h4>Rent Cost Per a Day</h4>

                    </div>


                    <div class="col" style="text-align:center">

                        <h3 id="cost">41</h3>

                    </div>


                </div>

                <div class="row" style=" margin-top:13px">




                    <div class="col">


                        <h4 id="dd">Number of Days</h4>

                    </div>


                    <div class="col">

                        <select style="width:100%" class="input-group-text" name="cars" id="days" onchange="days(this)">
                            <option value=5>5</option>
                            <option value=7>7</option>
                            <option value=31>31</option>

                        </select>

                    </div>


                </div>

                <div class="row" style=" margin-top:13px">




                    <div class="col">


                        <h4>Total</h4>

                    </div>


                    <div class="col" style="text-align:center">

                        <h3 id="total">44$</h3>  

                    </div>


                </div>






            </div>


            <div class="col-lg-6" style="margin-top:10%">

     


            


           


                <div class="container">






                    <div class="row">

                        <div>

                            <div class="col">

                                <h2>Personla Information</h2>

                            </div>
                        </div>

                    </div>



                        <div class="row"  >


                        

                      

                            <div class="col-lg-12">

                                <input id="name" class="form-control" type="text"  style="width:100%" placeholder="Full Name" />
                                <p style="color:red" id="demo"></p>

                       

                            </div>

                          

                             
                        


                        </div>
                        <div class="row"  >




                            <div class="col-lg-12">

                            <input  id="em" type="email" style="width:100%" placeholder="Email" class="form-control" />
                            <p style="color:red" id="demo2"></p>
                            </div>


                        </div>
                        <div class="row"  >




                            <div class="col-lg-12">

                            <input class="form-control" maxlength="10" id="tel" type="tel" style="width:100%" placeholder="Phone Number" />
                                     <p style="color:red" id="demo1"></p>
                            </div>


                        </div>
                        <div class="row"  >




                            <div class="col-lg-12">

                            <textarea maxlength="100" class="form-control" style="width:100%" rows="4" cols="50" placeholder="Message.."></textarea>

                            </div>


                        </div>

                        <div class="row" style=" margin-top:40px">
                                



                            <div class="col-lg-12">

                            <button type="button" onclick="myFunction()" style="width:100%" class="btn btn-secondary" value="Send"> Send </button>
                                 
                            </div>


                        </div>
                       
              
                  

                </div>





            </div>


        </div>


    </div>

</div>




