@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<link href="~/css/style.css" rel="stylesheet" />


<div class="jumbotron " id="jumpt1"   >

    <div class="container">

        <div class="row" style="margin-top:0px  ">


            <div data-aos="fade-up-right" class="col-lg-4" id="col1">



                <label class="head1" style="font-size:50px ;color:ghostwhite">LAMBOS</label><br />
                <label id="head2" style="color:ghostwhite">For Rental Cars </label> <br />
                <label id="head3" style="color:azure">Rent Your Favorite car with a chip price</label>

            </div>


            <div class="col-lg-8">


                <div class="fade-in">

                    <img class="img-fluid  " src="~/SSSSSS/d.jpg" />

                </div>


            </div>


      





        </div>


       

    </div>




</div>





 


<div class="jumbotron  w-100 p-3 h-100 d-inline-block" style="  box-sizing:inherit      ">

    <div class="container">



        <div class="row" style="padding-top:10px ; padding-left:25px">


            <div class="col">
               <p data-aos="fade-up-right" class="moto-text_system_3">Welcom </p>


            

            </div>
        </div>

        <div data-aos="fade-up-right" class="row">


    



            <div class="col-lg-9 animate__fadeInLeft" style=" margin-top:10px ; padding-left:2% ">


                <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                    <div class="card-header">LAMBOS for car Renting</div>
                    <div class="card-body text-secondary">
                    
                        <p class="card-text">

                            Lambos is company that provide cars for renting and extra services also . get the best car with a good condition for Trips and special  occasions


                            also their is offers and discounts for our Loyal  customers . Lambos Company have been in the top of car Renting Company’s




                        </p>
                    </div>
                </div>






              



            </div>


       

       

            <div class="col-lg-3" style="margin-top:15px ">


                <img class="img-thumbnail  float-right " src="~/SSSSSS/mt-0038-home-block-img1.jpg" />

            </div>
        </div>


    </div>


</div>

 
  
                        

<div class="jumbotron  w-100 p-3 h-100 d-inline-block" style="  box-sizing:inherit     ">

    <div class="container">



        <div class="row" style="padding-top:10px ; padding-left:25px">


            <div class="col">
                <p data-aos="fade-up-right" class="moto-text_system_3">Brands</p>


            

            </div>
        </div>

        <div class="row">


            <div class="col-lg-12 animate__fadeInLeft" style=" margin-top:10px   ">


                <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                  
                    <div class="card-body text-secondary">

                        <p class="card-text">

                            Here are some informations about car Brands that u might not Know about




                        </p>
                    </div>
                </div>










            </div>
        </div>


        <div data-aos="fade-up-right" class="row" style="margin-top:5%">


    



            <div class="col-lg-8 animate__fadeInLeft" style=" margin-top:10px ; padding-left:2% ">


                <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                    <div class="card-header">BMW</div>
                    <div class="card-body text-secondary">
                       
                        <p class="card-text"> BMW was initially a manufacturer of airplane engines and a good one at that. The company set records in aviation for both altitude and speed, making key advancements in the industry before making the switch to the auto industry.</p>
                    </div>
                </div>






              



            </div>


       

       

            <div class="col-lg-4" style="margin-top:15px ">


                <img class="img-thumbnail  float-right " src="~/SSSSSS/mt-0038-home-news-img1.jpg" />

            </div>
        </div>

        <div data-aos="fade-up-right" class="row" style="margin-top:3%">






            <div class="col-lg-8 animate__fadeInLeft" style=" margin-top:10px ; padding-left:2% ">


                <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                    <div class="card-header">Lamborghini</div>
                    <div class="card-body text-secondary">
              
                        <p class="card-text">
                            Lamborghini, the company made tractors originally. After the war, the company’s founder saw an emerging market for farming equipment and vehicles. This is when the founder developed his first tractor made from parts of a former military vehicle. The tractor was known as the ‘Carioca’ tractor.

                            Based on the success of this tractor, Ferruccio Lamborghini developed his first company – Lamborghini Trattori.
                        </p>
                    </div>
                </div>










            </div>






            <div class="col-lg-4" style="margin-top:15px ">


                <img class="img-thumbnail  float-right " src="~/SSSSSS/lambo.jpg" />

            </div>
        </div>


        <div data-aos="fade-up-right" class="row" style="margin-top:3%">






            <div class="col-lg-8 animate__fadeInLeft" style=" margin-top:10px ; padding-left:2% ">


                <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                    <div class="card-header">Rolls Royce</div>
                    <div class="card-body text-secondary">
                 
                        <p class="card-text"> The very first Rolls Royce was hand-built by Henry Rolls Royce in 1904. The car named Royce 10 was powered by a 1.8 litre two-cylinder engine that churned just 10 horsepower. The 1.3 litre Royce 10 featured a three-bearing crank with twin camshafts activating the side exhaust and overhead valves. The car was mated to a 3-speed manual transmission. </p>
                    </div>
                </div>










            </div>






            <div class="col-lg-4" style="margin-top:15px ">


                <img class="img-thumbnail  float-right " src="~/SSSSSS/Rols.jpg" />

            </div>
        </div>


    </div>


</div>




<div class="jumbotron  w-100 p-3 h-100 d-inline-block" style="  box-sizing:inherit     ">

    <div class="container">



        <div class="row" style="padding-top:10px ; padding-left:25px">


            <div class="col">
                <p data-aos="fade-up-right" class="moto-text_system_3">Offers</p>




            </div>
        </div>

        <div data-aos="fade-up-right" class="row">






            <div class="col-lg-12 animate__fadeInLeft" style=" margin-top:10px ; padding-left:2% ">


                <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                    <div class="card-header">Get the Latest Offer </div>
                    <div class="card-body text-secondary">
 
                        <p class="card-text">Because we care alot about Our Customers We Offer  some Discount for Rental Cars  Also some Services to Help Customers If They Need Anything</p>
                    </div>
                </div>










            </div>






            

 

            </div>



        <div  class="row" style="margin-top:5%">



            <div class="col-lg-2" id="CCenter">

                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 1"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/Economy_Cars"> <img src="~/SSSSSS/ec2.jpg" class="d-block w-100" alt="..."></a>
                           
                            <div class="carousel-caption d-none d-md-block">
                                <h5>We have affordable Car for Renting</h5>
                                <p style="color:white"> Check out this cars and get a 10% for renting per day</p>
                            </div>
                        </div>
                        <div class="carousel-item">

                            <a href="/Luxuary"> <img src="~/SSSSSS/llu.jpg" class="d-block w-100" alt="..."> </a>
                           
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Luxury’s Car for Business Man Class</h5>
                                <p style="color:white"> if you are a  Business man we got your back  </p>
                            </div>
                        </div>

                          <div class="carousel-item">



                              
                            <a href="/services">      <img src="~/SSSSSS/sse.jpg" class="d-block w-100" alt="...">  </a>

                       
                            <div class="carousel-caption d-none d-md-block">
                                <h5>if us need a service</h5>
                                <p style="color:white">Check Out our services and We sure You Will Like It</p>
                            </div>
                        </div>
                      
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
         
            </div>

     
           
             

        </div>


        </div>


    </div>

 



<div class="jumbotron" >



    <div class="container">

        <div class="row">


            <div class="col-lg-6" style="margin-top:15% ; text-align:center">

                <h1>

                    get

                    in touch
                </h1>


            </div>





            <div class="col-lg-6" style="margin-top:10%">










                <div class="container">









                    <div class="row">






                        <div class="col-lg-12">

                            <input id="lt_name" class="form-control" type="text" style="width:100%" placeholder="Full Name" />
                            <p style="color:red" id="demo"></p>



                        </div>







                    </div>
                    <div class="row">




                        <div class="col-lg-12">

                            <input id="lt_mail" type="email" style="width:100%" placeholder="Email" class="form-control" />
                            <p style="color:red" id="demo2"></p>
                        </div>


                    </div>
                    <div class="row">




                        <div class="col-lg-12">

                            <input class="form-control" maxlength="10" id="lt_phone" type="tel" style="width:100%" placeholder="Phone Number" />
                            <p style="color:red" id="demo1"></p>
                        </div>


                    </div>
                    <div class="row">




                        <div class="col-lg-12">

                            <textarea id="lt_Message" maxlength="100" class="form-control" style="width:100%" rows="4" cols="50" placeholder="Message.."></textarea>

                        </div>


                    </div>

                    <div class="row" style=" margin-top:40px">




                        <div class="col-lg-12">

                            <button type="button"  onclick="ltSend()" style="width:100%" class="btn btn-secondary" value="Send"> Send </button>

                        </div>


                    </div>




                </div>





            </div>




        </div>


    </div>

</div>



