@page
@model CAR_BOOKING.Pages.servicesModel
@{

    ViewData["Title"] = "Services";
}
<link href="~/css/style.css" rel="stylesheet" />


<div class="jumbotron " style="width:100% ;margin-top:5%">

    <div class="container">


        <div class="row" style="margin-top:30px ; padding-left:5px">


            <div class="col">

            
                <p data-aos="fade-up-right" class="moto-text_system_3">Services</p>
            </div>
        </div>



        <div class="row"  >


            <div class="col-lg-6">


                <img data-aos="fade-up-right" class="img-thumbnail  float-right " src="~/SSSSSS/dd1.jpg" />

               


                <div data-aos="fade-up-right" class="row" >

                    <div class="col-lg-12 animate__fadeInLeft" style=" margin-top:20px ; padding-left:2% ">


                        <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                            <div class="card-header">car with driver</div>
                            <div class="card-body text-secondary">
                             
                                <p class="card-text"> 
                                    if your a business man and so busy in work  you will need a driver for your cars if

                                    you don’t have one don’t worry we got your back we will haired   the best drivers and fully trusted just for you

                                </p>
                            </div>
                        </div>










                    </div>


                 

                </div>


                 


                     


   
</div>







            <div class="col-lg-6">


                <img data-aos="fade-up-right" class="img-thumbnail  float-right " src="~/SSSSSS/dd2.jpg" />




                <div data-aos="fade-up-right" class="row">

                    <div class="col-lg-12 animate__fadeInLeft" style=" margin-top:20px ; padding-left:2% ">


                        <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                            <div class="card-header">dlivery</div>
                            <div class="card-body text-secondary">
                     
                                <p class="card-text">
                                    you wont to send a package to someone or your receiving something from someone   then don’t worry

                                    we have a  fast delivery service so  you can fully trust  us with your package’s and it will be delivered safety and secured to your doorstep



                                </p>
                            </div>
                        </div>










                    </div>




                </div>









            </div>








        </div>

        <div class="row" style="margin-top:5%">


            <div class="col-lg-6">


                <img data-aos="fade-up-right" class="img-thumbnail  float-right " src="~/SSSSSS/sv4.jpg" />




                <div data-aos="fade-up-right" class="row"  >

                    <div class="col-lg-12 animate__fadeInLeft" style=" margin-top:20px ; padding-left:2% ">


                        <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                            <div class="card-header">Car Wash</div>
                            <div class="card-body text-secondary">
                           
                                <p class="card-text">

                                    your car is so dirty and  don’t have time to clean it we have a carwash and we will be glade to provide a full carwash cleaning services for you

                                    your car exterior and interior will be shining

                                </p>
                            </div>
                        </div>










                    </div>




                </div>









            </div>

            <div class="col-lg-6">


                <img data-aos="fade-up-right" class="img-thumbnail  float-right " src="~/SSSSSS/sv1.jpg" />




                <div data-aos="fade-up-right" class="row"  >

                    <div class="col-lg-12 animate__fadeInLeft" style=" margin-top:20px ; padding-left:2% ">


                        <div class="card border-secondary mb-3 " style="width:100% ; height:100%">
                            <div class="card-header">Customaizing Cars</div>
                            <div class="card-body text-secondary">
                           
                                <p class="card-text">

                                    you ever saw specific car style paint that you liked or a car design and you wont to adapt it to your car we  can do it for you we got the best guys in this field and they are professional




                                </p>
                            </div>
                        </div>










                    </div>




                </div>









            </div>


       







        </div>

    </div>


</div>



<div class="jumbotron" style="text-align:center; width:100% ; margin-top:4%">

    <div class="container">
  <div class="row">


     <div class="col-lg-6"   >




                <h1>

                   Contact with Us
                </h1>

                <br />

                <h2>

                    if u Need any Service 
                </h2>

                                        </div>


        <div class="col-lg-6"  >










            <div class="container">





 



                <div class="row">






                    <div class="col-lg-12">

                        <input id="NAME" class="form-control" type="text" style="width:100%" placeholder="Full Name" />
                        <p style="color:red" id="demo"></p>



                    </div>







                </div>
                <div class="row">




                    <div class="col-lg-12">

                        <input id="EMAIL" type="email" style="width:100%" placeholder="Email" class="form-control" />
                        <p style="color:red" id="demo2"></p>
                    </div>


                </div>
                <div class="row">




                    <div class="col-lg-12">

                        <input class="form-control" maxlength="10" id="TELEPHONE" type="tel" style="width:100%" placeholder="Phone Number" />
                        <p style="color:red" id="demo1"></p>
                    </div>


                </div>
                <div class="row">




                    <div class="col-lg-12">

                        <textarea id="NOTE" maxlength="100" class="form-control" style="width:100%" rows="4" cols="50" placeholder="Message.."></textarea>

                    </div>


                </div>

                <div class="row" style=" margin-top:40px">




                    <div class="col-lg-12">

                        <button type="button"  onclick="lkSend()" style="width:100%" class="btn btn-secondary" value="Send"> Send </button>

                    </div>


                </div>




            </div>





        </div>



      </div>

      </div>


    </div>